#contacts-page {
    padding-top: 100px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 1000px;
    @extend %img;

    @media (max-width: map_get($grid-breakpoints, sm)) {
        height: auto;
    }
}

.contacts-page-item {
    padding: 50px 0;
    z-index: 999;

    &__title {
        font-size: 14px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -2000px;
        right: -150px;
        bottom: 0;
        background: rgba(#000, .7);
        z-index: -99;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            right: -15px;
        }
    }
}